body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

a {
  color: #000000;
}

html, body {
  /*height: 100%;*/
}
body {
  display: flex;
  flex-direction: column;
}



.aboutbackground {
  background: url('./images/Background2.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*CSS for the Nav Bar*/
.navbar {
  margin: -1rem -1rem 2rem;
  display: flex;
  font-size: 1.1rem;
  /*font-family: 'Slabo 27px', serif;*/
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #00C6D4;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
  z-index: 1;
}

.navbar a {
  color: #000000;
}

.navitems {
  margin: 1rem;
}

.navitembox {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.navitem {
  padding: 0 0.5rem;
}

.navleft {
  margin: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.notcurrent {
  text-decoration: none;
}

.current {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  border-top: 1px solid #000000;
}

/*CSS for the About Page*/
.link {
  text-decoration: none;
  color: black;
}

.white {
  background: #ffffff;
  margin: -2rem -1rem 1rem -1rem;
}

.aboutwrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: -1fr 2fr minmax(160px, 1fr);
  padding: 3rem;
}

/*.aboutsec {
  border: 2px solid #000000;
}*/

.abouttext {
  margin: 1rem;
}

.abouttest {
  flex-direction: column;
}

.about0 {
  grid-column: 1/5;
  border-left: 5px solid #0A7BB5;
}

.about1 {
  grid-column: 1/3;
  grid-row: 2/4;
  border-left: 5px solid #6AB1E9;
}

.about3 {
  border-left: 5px solid #95E5F7;
}

.about4 {
  border-left: 5px solid #7AE8EB;
}

.about5 {
  border-left: 5px solid #46E4CD;
}

.about6 {
  border-left: 5px solid #6AB1E9;
}

.about7 {
  border-left: 5px solid #38B5A7;
}

.about8 {
  border-left: 5px solid #1CA6D4;
}

.about9 {
  border-left: 5px solid #9DDFC1;
}

.about10 {
  border-left: 5px solid #ABEEF3;
}

.about11 {
  border-left: 5px solid #46E4CD;
}

.about12 {
  border-left: 5px solid #388AB5;
}

.about13 {
  border-left: 5px solid #7AE8EB;
}

.about14 {
  border-left: 5px solid #49BE7A;
}

.about15 {
  border-left: 5px solid #07C9F7;
}

.typeform-widget {
  display: none;
}


/*Footer CSS*/

footer {
  margin: 2.5rem -1rem 0 -1rem;
}

.footer {
  font-family: 'Slabo 27px', serif;
  padding: 2rem 2rem 0.5rem 2rem;
}

.footeritem a {
  color: #000000;
}

.fa-size {
  /*font-size: 1rem;*/
  padding: 0.25rem;
}


@media(max-width: 1000px) {
  .about1 {
    grid-column-start: 1;
  }
  .about2 {
    grid-column-start: 1;
  }
  .about3 {
    grid-column-start: 1;
  }
  .about4 {
    grid-column-start: 1;
  }
  .about5 {
    grid-column-start: 1;
  }
  .about6 {
    grid-column-start: 1;
  }
  .about7 {
    grid-column-start: 1;
  }
  .about8 {
    grid-column-start: 1;
  }
  .about9 {
    grid-column-start: 1;
  }
  .about10 {
    grid-column-start: 1;
  }
  .about11 {
    grid-column-start: 1;
  }
  .about12 {
    grid-column-start: 1;
  }
  .about13 {
    grid-column-start: 1;
  }
  .about14 {
    grid-column-start: 1;
  }
  .about15 {
    grid-column-start: 1;
  }
}

@media(max-width: 500px) {
  .navitembox {
    margin-top: 0;
  }
}
