body {
  font-family: Roboto, sans-serif;
}

a {
  color: #000000;
}

img {
  max-width: 150px;
}

ul {
  margin: 1rem;
}


.aboutbackground {
  background: url('./images/Background5.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*CSS for the Nav Bar*/
.navbar {
  margin: -1rem -1rem 0;
  display: flex;
  font-size: 1.1rem;
  font-family: 'Slabo 27px', serif;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background: #86CED6;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
}

.navbar a {
  color: #000000;
}

.logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.navitems {
  margin: 1rem;
  display: flex;
  position: sticky;
}

.navitembox {
  margin-top: 0.5rem;
  margin-left: 1rem;
  position: sticky;
}

.navitem {
  padding: 0 0.5rem;
}

.notcurrent {
  text-decoration: none;
}

.current {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

/*CSS for the About Page*/
.aboutwrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: -1fr 2fr minmax(160px, 1fr);
  margin: 2rem 1rem;
}

/*.aboutsec {
  border: 2px solid #000000;
}*/

.abouttext {
  margin: 1rem;
}

.abouttest {
  flex-direction: column;
}

.about0 {
  grid-column: 1/5;
  border-left: 25px solid #0A7BB5;
  /*background: #B1EBF5;*/
}

.about1 {
  grid-column: 1/3;
  border-left: 25px solid #6AB1E9;
  /*background: #C1EEF9;*/
}

.about2 {
  grid-column: 3/6;
  border-left: 25px solid #1CA6D4;
  /*background: #B4E5F1;*/
}

.about3 {
  border-left: 25px solid #95E5F7;
  /*background: #AEF9D1;*/
}

.about4 {
  grid-column: 2/4;
  border-left: 25px solid #7AE8EB;
  /*background: #C0CDDB;*/
}

.about5 {
  border-left: 25px solid #46E4CD;
  /*background: #064C66;
  color: #ffffff;*/
}

.about6 {
  border-left: 25px solid #6AB1E9;
  /*background: #9BEAEC;*/
}

.about7 {
  grid-column: 1/3;
  border-left: 25px solid #38B5A7;
  /*background: #0A2A4D;
  color: #ffffff;*/
}

.about8 {
  border-left: 25px solid #1CA6D4;
  grid-column: 3/5;
  /*background: #B3F5F9;*/
}

.about9 {
  border-left: 25px solid #9DDFC1;
  /*background: #3BBF79;*/
}

.about10 {
  border-left: 25px solid #ABEEF3;
  grid-column: 1/2;
  /*background: #90C5E2;*/
}

.about11 {
  border-left: 25px solid #46E4CD;
  grid-column: 2/4;
  /*background: #5FD4DE;*/
}

.about12 {
  border-left: 25px solid #388AB5;
  /*background: #0F7A83;
  color: #ffffff;*/
}

.about13 {
  border-left: 25px solid #7AE8EB;
  /*background: #C0F6D9;*/
}


/*Footer CSS*/

footer {
  margin: 2.5rem -1rem 0 -1rem;
}

.footer {
  font-family: Roboto, sans-serif;
  padding: 2rem 2rem 0.5rem 2rem;
}

.footeritem a {
  color: #000000;
}


@media(max-width: 1000px) {
  .about1 {
    grid-column-start: 1;
  }
  .about2 {
    grid-column-start: 1;
  }
  .about3 {
    grid-column-start: 1;
  }
  .about4 {
    grid-column-start: 1;
  }
  .about5 {
    grid-column-start: 1;
  }
  .about6 {
    grid-column-start: 1;
  }
  .about7 {
    grid-column-start: 1;
  }
  .about8 {
    grid-column-start: 1;
  }
  .about9 {
    grid-column-start: 1;
  }
  .about10 {
    grid-column-start: 1;
  }
  .about11 {
    grid-column-start: 1;
  }
  .about12 {
    grid-column-start: 1;
  }
  .about13 {
    grid-column-start: 1;
  }
}

@media(max-width: 500px) {
  .navitembox {
    margin-top: 0;
  }
}
