body {
  font-family: Roboto, sans-serif;
}

a {
  color: #000000;
}

img {
  max-width: 150px;
}

ul {
  margin: 1rem;
}

/*.blank1 {
  background: #6AB1E9;
}

.blank2 {
  background: #1CA6D4;
}

.blank3 {
  background: #95E5F7;
}

.blank4 {
  background: #7AE8EB;
}

.blank5 {
  background: #46E4CD;
}

.blank6 {
  background: #9DDFC1;
}

.blank7 {
  background: #388AB5;
}

.blank8 {
  background: #38B5A7;
}*/


/*CSS for the Nav Bar*/
.navbar {
  background: #03649B;
  margin: -1rem;
  display: flex;
  font-size: 1.1rem;
}

.navbar a {
  color: #ffffff;
}

.logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.navitems {
  margin: 1rem;
  display: flex;
}

.navitembox {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.navitem {
  padding: 0 0.5rem;
}

.notcurrent {
  text-decoration: none;
}

.current {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid #ffffff;
}

/*CSS for the Main Page*/
.mainbody {
  margin: 2rem 1rem;
}

.mainwrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: -1fr 2fr minmax(160px, 1fr);
  margin: 2rem 1rem;
}

.mainintro {
  border-left: 25px solid #6AB1E9;
  grid-column: 1/3;
}

.maintext {
  margin: 1rem;
}

.mainbutton {
  margin: 1rem;
}

.mainwork {
  border-left: 25px solid #388AB5;
  grid-column: 3/6;
}

.mained {
  border-left: 25px solid #1CA6D4;
}

.mainskills {
  border-left: 25px solid #95E5F7;
}

.mainabout {
  border-left: 25px solid #46E4CD;
}

.maincontact {
  border-left: 25px solid #38B5A7;
}



@media(max-width: 1000px) {

  .mainwork {
    grid-column-start: 1;
  }

  .mained {
    grid-column-start: 1;
  }

  .mainskills {
    grid-column-start: 1;
  }
  .mainabout {
    grid-column-start: 1;
  }

  .maincontact {
    grid-column-start: 1;
  }

}

@media(max-width: 500px) {
  .navitembox {
    margin-top: 0;
  }
}
