body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

.section {
  margin: 0 auto;
  padding: 12rem 0;
  max-width: 50rem;
}

.header {
  display: flex;
  display: inline;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.button {
  font-weight: bold;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5%;
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, .2);
}

.button:hover{
  box-shadow: none;
}

.button1 {
  background: linear-gradient(#5CC2CA, #0BAED6);
}

.button1:hover {
  background: linear-gradient(#0BAED6, #75D6D1);
}

.button2 {
  background: linear-gradient(#0BAED6, #5CC2CA);
}

.button2:hover {
  background: linear-gradient(#75D6D1, #0BAED6);
}

.button3 {
  background: linear-gradient(#5CC2CA, #0BAED6);
}

.button3:hover {
  background: linear-gradient(#0BAED6, #75D6D1);
}


@media(max-width: 600px) {
  .section{
    padding: 5rem 0;
  }

  .buttons{
    display: inline;
  }
}
