body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

a {
  color: #000000;
}

img {
  max-width: 20rem;
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, .2);
}

h2 {
  text-align: center;
}

.mainbackground {
  background: url('./images/Background1.jpg') no-repeat center center fixed;
  background-size: cover;
}

/*CSS for the Nav Bar*/
.navbar {
  margin: -1rem -1rem 2rem;
  display: flex;
  font-size: 1.1rem;
  /*font-family: 'Slabo 27px', serif;*/
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #00C6D4;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
  z-index: 1;
}

.navbar a {
  color: #000000;
}

.navitems {
  margin: 1rem;
}

.navitembox {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.navitem {
  padding: 0 0.5rem;
}

.navleft {
  margin: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.notcurrent {
  text-decoration: none;
}

.current {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.link{
  text-decoration: none;
}


/*Main Section CSS*/
header{
  padding: 2rem;
}

.container {
  background: #ffffff;
  margin: -1rem;
}

.typeform-widget {
  display: none;
}

.section {
  max-width: 60rem;
  margin: 0 auto;
}

.worksection {
  display: flex;
  padding: 2rem 4rem;
  max-width: 70rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.worksecwords {
  padding-left: 2rem;
  max-width: 38rem;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.whyux {
  margin: 0 auto;
  background: #75D6DD;
  padding: 3rem;
  text-align: center;
  max-width: 44rem;
}






/*Footer CSS*/

footer {
  margin: 2.5rem -1rem 0 -1rem;
}

.footer {
  padding: 2rem 2rem 0.5rem 2rem;
}

.footeritem a {
  color: #000000;
}

.fa-size {
  /*font-size: 1rem;*/
  padding: 0.25rem;
}


@media(max-width: 800px) {
  /*.canworksec {
    display: inline;
  }*/

  .workwords {
    padding-left: 0;
    max-width: 20rem;
    text-align: center;
  }

  .fa-size {
    font-size: 1rem;
  }

  .headerwords {
    margin: 4rem 1rem;
  }

  .worksection {
    display: inline;
    margin: 0 auto;
    justify-content: center;
  }

  .worksecwords {
    padding-left: 0;
    max-width: 20rem;
  }
}
