body {
  font-family: Roboto, sans-serif;
}

a {
  color: #000000;
}

img {
  max-width: 30rem;
}

ul {
  margin: 1rem;
}

.section {
  max-width: 60rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.smallpic {
  max-height: 15rem;
}

.smallerpic {
  max-width: 20rem;
}
