body {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
}

a {
  color: #000000;
}

img {
  max-width: 30rem;
}

ul {
  margin: 1rem;
}

/*CSS for the Header*/
header {
  position: relative;
  margin: -2rem;
  height: 15rem;
  background: #CB9E6B;
}

header h1 {
  text-align: center;
  padding: 5rem;
}

.section {
  margin: 0 -1rem;
  padding: 6rem;
}

.text {
  max-width: 52rem;
  margin: 0 auto;
}

.photos {
  /*margin: 0 auto;*/
  text-align: center;
}

.smallpic {
  max-height: 15rem;
}

.smallerpic {
  max-width: 20rem;
}
